 <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Trochut&display=swap" rel="stylesheet">
<nav class="navbar navbar-light d-flex flex-row justify-content-between mb-2" [ngClass]="[userApi.getCachedCurrent() ? '' : 'bg-naranja']">
	<a (click)="this.router.navigate(['/home']);" class="navbar-brand d-inline-flex ml-4 pointer">
		<img *ngIf="!userApi.getCachedCurrent()" src="../../assets/icons/logo-balp-blanco.png" width="205" height="74"
			alt="">
		<img *ngIf="userApi.getCachedCurrent()" src="../../assets/icons/logo-balp.png" width="205" height="74" alt="">
	</a>

	<h1 class="d-inline-flex text-center font-weight-bold pt-4">
		<!-- Variable -->
	</h1>

	<!-- OPCIONES DE USUARIO NO LOGUEADO -->
	<div *ngIf="!userApi.getCachedCurrent()" class="d-inline-flex mr-4">
		<!-- <img src="../../assets/icons/user.png" width="74" height="74" alt="" class="rounded-circle"> -->
		<div class="dropdown">
			<button class="btn btn-dark dropdown-toggle border" type="button" id="dropdownMenuButton"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Registrarse
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" (click)="router.navigate(['/registrar-beneficiario']);">Como beneficiario</a>
				<a class="dropdown-item" (click)="router.navigate(['/registrar-voluntario']);">Como voluntario</a>
				<a class="dropdown-item" (click)="router.navigate(['/registrar-donante']);">Como donante</a>
			</div>
		</div>
		<button (click)="router.navigate(['/login']);" type="button" class="btn btn-dark ml-4">Iniciar sesión</button>
	</div>

	<!-- OPCIONES DONANTE -->
	<div *ngIf="userApi.getCachedCurrent() && (userApi.getCachedCurrent().tipoDeUsuario == 'donante')" class="d-inline-flex mr-4">
		<span class="dropdown">
			<img src="../../assets/icons/user.png" width="50" height="50" alt="">
			<button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				{{userApi.getCachedCurrent().username}}
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" (click)="router.navigate(['/perfil-donante'])">Mis datos</a>
				<a class="dropdown-item" (click)="router.navigate(['/editar-donante'])">Configurar cuenta</a>
				<a class="dropdown-item" (click)="router.navigate(['/registrar-donacion'])">Registrar donación</a>
				<a class="dropdown-item" (click)="router.navigate(['/mis-donaciones'])">Mis donaciones</a>			
				<a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
			</div>
		</span>
	</div>

	<!-- OPCIONES VOLUNTARIO -->
	<div *ngIf="userApi.getCachedCurrent() && (userApi.getCachedCurrent().tipoDeUsuario == 'voluntario')"
		class="d-inline-flex mr-4">
		<span class="dropdown">
			<button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				{{userApi.getCachedCurrent().username}}
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" (click)="router.navigate(['/perfil-voluntario'])">Mis datos</a>
				<a class="dropdown-item" (click)="router.navigate(['/editar-voluntario'])">Configurar cuenta</a>
				<a class="dropdown-item" (click)="router.navigate(['/mis-traslados'])">Mis traslados</a>
				<!-- <a class="dropdown-item" (click)="router.navigate(['/solicitudes-traslado'])">Solicitudes de traslado</a> -->
				<a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
			</div>
		</span>
	</div>

	<!-- OPCIONES BENEFICIARIO -->
	<div *ngIf="userApi.getCachedCurrent() && (userApi.getCachedCurrent().tipoDeUsuario == 'beneficiario')"
		class="d-inline-flex mr-4">
		<span class="dropdown">
			<button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				{{userApi.getCachedCurrent().username}}
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" (click)="router.navigate(['/perfil-beneficiario'])">Mis datos</a>
					<a class="dropdown-item" (click)="router.navigate(['/editar-beneficiario'])">Configurar cuenta</a>
					<!-- <a class="dropdown-item" (click)="router.navigate(['/confirmar-traslado-realizado'])">Confirmar traslado efectuado</a>			 -->
					<a class="dropdown-item"  (click)="logout()">Cerrar sesión</a>
			</div>
		</span>
	</div>

	<!-- OPCIONES ADMIN -->
	<div *ngIf="userApi.getCachedCurrent() && (userApi.getCachedCurrent().tipoDeUsuario == 'admin')"
		class="d-inline-flex mr-4">
		<span class="dropdown">
			<button class="btn btn-dark mr-1" type="button" id="panelButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false" (click)="router.navigate(['/panel-de-control'])">
				Panel de control
			</button>
			<button   class="btn btn-dark" type="button" id="panelButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false" (click)="router.navigate(['/panel-de-control'])" (click)="logout()">
				Salir
			</button>
		</span>
	</div>
</nav>