<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Trochut&display=swap" rel="stylesheet">
<nav class="navbar navbar-light bg-light d-flex flex-row justify-content-between">

    <a href="#" class="navbar-brand d-inline-flex ml-4">
        <img src="../../assets/icons/logo-balp.png" width="205" height="74" alt="">
    </a>

    <h1 class="d-inline-flex align-bottom text-center font-weight-bold">
        <!-- Banco de alimentos -->
    </h1>
    
	<!-- Opciones de usuario logueado -->
    <div *ngIf="!userApi.getCachedCurrent()" class="d-inline-flex mr-4">        <!-- <img src="../../assets/icons/user.png" width="74" height="74" alt="" class="rounded-circle"> -->
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle border" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Registrarse
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/registrar-beneficiario">Como beneficiario</a>
              <a class="dropdown-item" href="/registrar-voluntario">Como voluntario</a>
              <a class="dropdown-item" href="/registrar-donante">Como donante</a>
            </div>
          </div>
		 <!-- Para harce que funcione el click importe Router en el .ts de este html -->
        <button (click)="router.navigate(['/login']);" type="button" class="btn btn-success ml-4">Iniciar sesión</button>
    </div>
	
	<!-- Opciones de usuario no-logueado -->
	<div *ngIf="userApi.getCachedCurrent()" class="d-inline-flex mr-4">
		<p> ¡Hola {{userApi.getCachedCurrent().username}}!</p>
		<button class="btn btn-success ml-4" (click)="logout()">LogOut</button>
	</div>
</nav>