<div class="container text-center">
    <h2>Asignar traslado</h2>
</div>
<div class="card border-secondary mb-4 container mt-5" id="contenedor">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="form" class="container">
            <h3 class="mt-3 text-center">¡Hola {{voluntario.nombre}}! Tenés un traslado disponibe para realizar</h3>
            <h3 class="form-group mt-4">Datos del traslado</h3>
            <div class="form-group mt-4">
                <label for="labelfechaEstimada">Fecha de traslado</label>
                <input formControlName="fechaEstimada" type="text" class="form-control" id="fechaEstimada"
                value= "{{this.traslado.fechaEstimada| date: 'dd/MM/yyyy hh:mm'}}" readonly>
            </div>
            <div class="form-group">
                <label for="labeldireccion">Origen</label>
                <input formControlName="origen" type="text" class="form-control" id="origen"
                value= "{{this.origen}}" readonly>
            </div>
            <div class="form-group">
                <label for="labelEmail">Destino</label>
                <input formControlName="destino" type="text" class="form-control" id="destino"
                value= "{{this.destino}}" readonly>
            </div>
            <div class="form-group">
                <label for="labelpuntaje">Puntaje del traslado</label>
                <input formControlName="puntaje" type="text" class="form-control" id="puntaje"
                    value="{{this.traslado.puntaje}}" readonly>
            </div>
            <div class="form-group text-center mt-4">
                <button class="btn mr-2 btn-orange " type="submit">Aceptar
                    traslado</button>
                <button routerLink="/home" class="btn btn-orange">Cancelar</button>
            </div>
        </form>
    </div>
</div>