
<form [formGroup]="form">
	<label> id </label>
	<input formControlName="id" type="number">
	<label> Cantidad </label>
	<input formControlName="cantidad" type="number">
	<span class="inline" (click)="agregarAEnvio()" class="btn btn-dark"> Agregar </span>
</form>

<p> En stock </p>
<table class="table mb-2" style="width:100%">
  <thead class="thead-dark">
	<tr>
		<th>
			id
		</th>
		<th>
			Nombre
		</th>
		<th>
			Vencimiento
		</th>
		<th>
			Cantidad
		</th>
	</tr>
  </thead>
	<tr *ngFor="let producto of this.productosEnStock;let i=index">
		<td>
			{{i+1}}
		</td>
		<td>
			{{producto.tipoProducto.nombre}}
		</td>
		<td>
			{{producto.vencimiento| date: 'dd/MM/yyyy'}}	
		</td>
		<td>
			{{producto.cantidad}}
		</td>
	</tr>
</table>

<p> Agregados al envio </p>
<table class="table mb-2" style="width:100%">
  <thead class="thead-dark">
	<tr>
		<th>
			Nombre
		</th>
		<th>
			Vencimiento
		</th>
		<th>
			Cantidad
		</th>
	</tr>
  </thead>
	<tr *ngFor="let producto of this.productosEnEnvio">
		<td>
			{{producto.tipoProducto.nombre}}
		</td>
		<td>
			{{producto.vencimiento| date: 'dd/MM/yyyy'}}	
		</td>
		<td>
			{{producto.cantidad}}
		</td>
	</tr>
</table>

