<h2 class="mb-5"> Envios pendientes de traslado</h2>

<form [formGroup]="form">
	<div>
		<input formControlName="nombre" type="search" id="buscarVoluntario" name="buscarVoluntario" placeholder="Filtrar por voluntario">
	    <button>Buscar</button>
	</div>
</form>
<table class="egt">
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Voluntario</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Fecha estimada</th>
      <th>Distancia total</th>
    </tr>
  </thead>
  <tbody *ngFor="let fila of filas| paginate: { itemsPerPage: 10, currentPage: p }" class="text-center">
    <tr>
      <td>{{fila.printDescripcion()}}</td>
      <td>{{fila.printVoluntario()}}</td>
      <td>{{fila.printOrigen()}}</td>
      <td>{{fila.printDestino()}}</td>
      <td>{{fila.getFecha()| date: 'dd/MM/yyyy'}}</td>
      <td>{{fila.getDistancia()}}</td>
    </tr>
</table>
