 <table style="width:100%">
  <tr>
    <th>Descripcion</th>
    <th>Peso</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of lista" >
    <td>{{item.descripcion}}</td>
    <td>{{item.peso}} kg</td>
    <td><button (click)="borrar(item)">Borrar</button></td>
  </tr>
</table> 

<form [formGroup]="form">
	<p>Descripción</p>
	<input type="text" placeholder="items aqui" formControlName="descripcion">
	<p>Peso</p>
	<input type="text" placeholder="items aqui" formControlName="peso">
	<button (click)="agregar()">Agregar</button>
</form>