<footer page-footerclass="bg-secondary page-footer font-small fixed-bottom ">
	<div class="mr-5" style="text-align:right;">
		<a href="http://www.facebook.com/BancoAlimentarioLaPlata">
			<fa-icon [icon]="faFacebook" size="3x" [fixedWidth]="true" [styles]="{'color': 'red'}"></fa-icon>
		</a>
		<a href="https://www.instagram.com/bancoalimentariolp/">
			<fa-icon [icon]="faInstagram" size="3x" [fixedWidth]="true" [styles]="{'color': 'red'}"></fa-icon>
		</a>
		<a href="http://www.linkedin.com/company/banco-alimentario-de-la-plata">
			<fa-icon [icon]="faLinkedin" size="3x" [fixedWidth]="true"[styles]="{'color': 'red'}" ></fa-icon>
		</a>
		<a href="https://twitter.com/bancoalimlp">
			<fa-icon [icon]="faTwitter" size="3x" [fixedWidth]="true" [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
		</a>
	</div>
</footer>
