            

<h1 class="text-center pb-2">Panel de control</h1>
<div class="container" style="padding-bottom: 20%" >
  <div class="row text-center">
    <div class="col pb-2">
    	<div class="container p-3 border rounded-lg bg-dark" title="Ver los traslados pendientes de entrega">
                <span class='inline ' >
                    <fa-icon  class="" [icon]=faShippingFast size="8x" [fixedWidth]="true" [styles]="{'color': '#f94116'}"></fa-icon>
                </span>
        </div>
    </div>
    <div class="col pb-2" title="Crear un nuevo envio para beneficiario">
    	<div class="container p-3 border rounded-lg bg-dark">
                <span class='inline' >
                    <fa-icon  class="" [icon]=faDolly size="8x" [fixedWidth]="true" [styles]="{'color': '#f94116'}"></fa-icon>
                </span>
        </div>
    </div>
    <div class="col pb-2" title="Ver traslados sin voluntario asignado">
    	<div class="container p-3 border rounded-lg bg-dark">
                <span class='inline '>
                    <fa-icon  class="" [icon]=faUserClock size="8x" [fixedWidth]="true" [styles]="{'color': '#f94116'}"></fa-icon>
                </span>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col"  title="Ver stock" >
    	<div class="container p-3 border rounded-lg bg-dark">
                <span class='inline' >
                    <fa-icon  class="" [icon]=faCubes size="8x" [fixedWidth]="true" [styles]="{'color': '#f94116'}"></fa-icon>
                </span>
        </div>
    </div>
    <div class="col"  title="Opciones de seguridad">
    	<div class="container p-3 border rounded-lg bg-dark">
                <span class='inline ' >
                    <fa-icon  class="" [icon]=faKey size="8x" [fixedWidth]="true" [styles]="{'color': '#f94116'}"></fa-icon>
                </span>
        </div>
    </div>

  </div>
</div>

<!--
	 faDolly=faDolly;
	 faUserClock=faUserClock;
	 faCubes=faCubes
	 faKey=faKey;
	 -->