<div class="container mt-3 mb-3">   <!-- Datos --> 
    <div class="row">
        <div class="col-md-6">
            <h1 class="">Arcor</h1>
            <br>
            <p>
                <strong>CUIL:</strong> 3234234 
            </p>
            <p>
                <strong>Dirección: </strong>La Plata, 8 y 50
            </p>
            <p>
                <strong>Cantidad donada: </strong>80Kg
            </p>
            <p>
                <strong>Cantidad donada este mes: </strong>20kg
            </p>
        </div>
        <div class="text-center col-md-4 mt-3">
                <fa-icon [icon]="star" size="6x" [fixedWidth]="true" [styles]="{'color': '#dbab09'}"></fa-icon>
                <div style='position: relative; top:-50px;color:white;'>
                    <h2><strong> 110 </strong></h2>
                    <p style='color: black;'><strong>Puntuación</strong></p>
                </div>
        </div>
    </div>
    <div class="row">
        <div>
            <section class="alert bg-dark mt-5">
                Personas de contacto
            </section>
            <table class="table table-hover table-bordered table-center">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Email</th>
                        <th scope="col">Celular</th>
                      
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>Juan</td>
                        <td>Gomez</td>
                        <td>DNI de la persona</td>
                        <td>Email de la persona</td>
                        <td>Celular de la persona</td>
                       
                        </tr>
                        <tr>
                            <td>Jose</td>
                            <td>Gonzales</td>
                            <td>DNI de la persona</td>
                            <td>Email de la persona</td>
                            <td>Celular de la persona</td>
                          
                        </tr>
                        <tr>
                            <td>Matías</td>
                            <td>Perez</td>
                            <td>DNI de la persona</td>
                            <td>Email de la persona</td>
                            <td>Celular de la persona</td>
                        
                        </tr>
                        <tr>
                            <td>Ricardo</td>
                            <td>Lopez</td>
                            <td>DNI de la persona</td>
                            <td>Email de la persona</td>
                            <td>Celular de la persona</td>
                        
                        </tr>
                    </tbody>
                </table>
        </div>
</div>
</div>










