<div class="container text-center">
    <h2>Registrar organización donante</h2>

</div>
<div class="card border-secondary mb-4 container mt-5" id="contenedor">
    <div class="alert alert-dismissible alert-dark mt-3 "> Registrar organización donante </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="form" class="container">
            <div class="form-group">
                <label for="labelRazonSocial">Razón social</label>
                <input required formControlName="razonSocial" type="text" class="form-control" id="inputRazonSocial"
                    placeholder="Estudiantes de La Plata">
                <div *ngIf="razonSocial.invalid && razonSocial.touched">
                    <small class="text-danger">Debe ingresar una razón social</small>
                </div>
            </div>
            <div class="form-group">
                <label for="labelCuil">Cuil</label>
                <input required formControlName="cuil" type="text" class="form-control" id="inputCuil"
                    placeholder="20-54215125458-9">
                <div *ngIf="cuil.invalid && cuil.touched">
                    <small class="text-danger">Debe ingresar un CUIL</small>
                </div>
            </div>
            <div class="form-group">
                <label for="labelDireccion">Dirección</label>
                <input required formControlName="direccion" type="text" class="form-control" id="inputDireccion"
                    placeholder="Calle 53 e/ 7 y 8">
                <div *ngIf="direccion.invalid && direccion.touched">
                    <small class="text-danger">Debe ingresar una dirección</small>
                </div>
            </div>
            <div class="form-group">
                <label for="labelDireccion">Email</label>
                <input required formControlName="email" type="email" class="form-control" id="inputDireccion"
                    placeholder="contacto@MiOrganizacion.com">
                <div *ngIf="email.invalid && email.touched  ">
                    <small class="text-danger">Debe ingresar un correo con el formato mi@correo.com</small>
                </div>
            </div>
            <div class="form-group">
                <label for="labelDireccion">Contraseña</label>
                <input required formControlName="password1" type="password" class="form-control" id="inputDireccion">
                <div *ngIf="password1.invalid && password1.touched">
                    <small class="text-danger">Debe ingresar una contraseña</small>
                </div>
            </div>
            <div class="form-group">
                <label for="labelDireccion">Confirmar contraseña</label>
                <input required formControlName="password2" type="password" class="form-control" id="inputDireccion">
                <div *ngIf="password2.invalid && password2.touched">
                    <small class="text-danger">Debe ingresar la confirmación de la contraseña</small>
                </div>
                <div *ngIf="passwordsNotEquals">
                    <small class="text-danger">Las contraseñas ingresadas no coinciden</small>
                </div>
            </div>
            <h5>Personas de contacto</h5>
            <div class="form-group mt-4">
                <label for="labelNombre">Nombre</label>
                <input formControlName="personaNombre" type="text" class="form-control" id="inputNombre"
                    placeholder="Jose">
                <div *ngIf="personaNombre.invalid && personaNombre.touched">
                    <small class="text-danger">Debe ingresar el nombre de la persona de contacto</small>
                </div>
            </div>
            <div class="form-group">
                <label for="labelApellido">Apellido</label>
                <input formControlName="personaApellido" type="text" class="form-control" id="inputApellido"
                    placeholder="Gomez">
                <div *ngIf="personaApellido.invalid && personaApellido.touched">
                    <small class="text-danger">Debe ingresar el apellido de la persona de contacto</small>
                </div>
            </div>
            <div class="form-group">
                <label for="labelDNI">DNI</label>
                <input formControlName="personaDni" type="number" class="form-control" id="inputDNI"
                    placeholder="22.987.201">
                <div *ngIf="personaDni.invalid && personaDni.touched">
                    <small class="text-danger">Debe ingresar el DNI de la persona de contacto</small>
                </div>
            </div>
            <div class="form-group">
                <label for="labelEmail">Email</label>
                <input formControlName="personaEmail" type="email" class="form-control" id="inputEmail"
                    placeholder="gomezjose@gmail.com">
                    <div *ngIf="personaEmail.invalid && personaEmail.touched  ">
                        <small class="text-danger">Debe ingresar un correo con el formato mi@correo.com</small>
                    </div>
            </div>
                <div class="form-group">
                    <label for="labelEmail">Celular</label>
                    <input formControlName="personaCelular" type="number" class="form-control" id="inputCelular"
                        placeholder="221 654 8752">
                    <div *ngIf="personaCelular.invalid && personaCelular.touched">
                        <small class="text-danger">Debe ingresar el celular de la persona de contacto</small>
                    </div>
                </div>
                <p class="btn btn-dark" (click)="agregarContacto()">Agregar persona</p>

                <!-- <div  *ngIf="!colPersonasDeContacto[0]==null"> Con esto se esconde cuando no hay contactos pero da problemas -->
                <section class="alert alert-dismissible alert-dark mt-3">
                    Personas de contacto
                </section>
                <table class="table table-hover table-bordered table-center">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">DNI</th>
                            <th scope="col">Email</th>
                            <th scope="col">Celular</th>

                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let contacto of colPersonasDeContacto">
                            <td>{{contacto.nombre}}</td>
                            <td>{{contacto.apellido}}</td>
                            <td>{{contacto.dni}}</td>
                            <td>{{contacto.email}}</td>
                            <td>{{contacto.telefono}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- </div> -->

                <div class="form-group text-center">
                    <button class="btn mr-5" style="background-color: #f94116; color:white"
                        type="submit">Guardar</button>
                    <a routerLink="/home" class="btn" style="background-color: #f94116; color:white">Cancelar</a>
                </div>
        </form>
    </div>
</div>