<div class="container text-center">
    <h2>Registrar donación detallada</h2>
</div>
<div class="card border-secondary mb-4 container mt-5" id="contenedor">
    <div class="alert alert-dismissible bg-naranja mt-3"> Registrar donación detallada </div>
    <div class="card-body">
        <form [formGroup]="form" class="container">

            <div class="form-group">
                <label for="labelNombre">Fecha asignada de retiro</label>
                <input formControlName="fechaRetiro" type="date" class="form-control" id="inputFechaRetiro">
            </div>

<!-- Mini Form del producto -->
            <div id="agregarProducto" class="container border mt-5">
                <div class="form-group mt-2 ">
                    <label for="labelNombreProducto">Código</label>
                    <input formControlName="barcode" type="number" placeholder="0023383424" class="form-control" id="barCode" >
                </div>

                <div  class="form-group mb-2 "> 
                        <label for="labelNombre">Fecha de vencimiento</label>
                        <input formControlName="vto" type="date" min="1" class="form-control" id="vto" placeholder="">
                </div>

                <div class="form-group mb-2 "> 
                        <label for="labelNombre">Cantidad</label>
                        <input  formControlName="ammount" type="number" min="1" class="form-control" id="ammount" placeholder="">
                </div>
                <button class="btn btn-dark mt-2 mb-2 inline" (click)="agregarProducto()">Agregar producto</button>
                <button class="btn btn-dark mt-2 mb-2 ml-2" (click)="leerConScanner()">Leer con scanner</button>
            </div>
<!-- Mini Form del producto -->

<!-- Lista de productos -->
            <section class="alert alert-dismissible bg-naranja mt-3">
                Productos agregados
            </section>
            <table class="table table-hover table-bordered table-center">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Descripción del producto</th>
                        <th scope="col">Fecha de vencimiento</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody *ngFor="let producto of productos| paginate: { itemsPerPage: 10, currentPage: p }" class="text-center">
                    <tr>
                        <td>{{producto[0]}}</td>
                        <td>{{producto[2]}}</td>
                        <td>{{producto[1]}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
<!-- FIN Lista de productos -->

            <div class="form-group text-center mt-5">
                <button class="btn btn-dark mr-2" type="submit" (click)="onSubmit()">Guardar</button>
                <a routerLink="/home" class="btn btn-dark">Cancelar</a>
            </div>
        </form>
    </div>
</div>