<!-- CRITERIOS DE BUSQUEDA DE USUARIOS -->
<div class="container text-center">
    <h2>Buscar voluntario para traslado</h2>
    <h4></h4>
</div>


<div class="card border-secondary mb-3 container mt-5 shadow" id="contenedor">
    
<!-- Deseable
    <section class="alert alert-dismissible alert-primary mt-3">
        Elegí un criterio de búsqueda
    </section>
    <section class="card-header">
        <section class="form-row mt-2">
            <section class="col">
                <select id="comboEstado" name="estado" class="custom-select ">
                    <option value="Por nombre de usuario">Por nombre de usuario</option>
                    <option value="Por email">Por email</option>
                    <option value="Por email">Por apellido y nombre</option>
                </select>
            </section>
            <section class="col">
                <input type="text" class="form-control" id="inputNombreTipo" required>
            </section>
            <section class="col">
                <button type="submit" class="btn btn-primary text-center mr-3">Buscar</button>
            </section>
        </section>
    </section>
-->

    <section class="alert alert-dismissible alert-dark mt-3">
        Los siguientes voluntarios indicaron que poseen capacidad superior a {{this.volumenTotal}}m³ y están dispuestos a recorrer {{this.distancia}}km de distancia
    </section>
    <table class="table table-hover table-bordered table-center">
        <thead>
            <tr class="text-center">
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
                <th scope="col">Seleccionar</th>
            </tr>
        </thead>
        <tbody *ngFor="let voluntario of voluntarios | paginate: { itemsPerPage: 10, currentPage: p }" class="text-center">
            <tr>
                <td>{{voluntario.nombre}}</td>
                <td>{{voluntario.apellido}}</td>
                <td>{{voluntario.email}}</td>
                <td>{{voluntario.telefono}}</td>
                <td>
                    <button (click)="enviarEmailA(voluntario.email)">Enviar email</button> 
                    <input type="checkbox" id="cbox1" value="first_checkbox">    
                </td>
            </tr>
        </tbody>
    </table>
			
    <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>	
    <section class="card-header text-center p-3 mt-4 mb-4">
        <button type="button" class="btn btn-dark text-center mr-2" (click)="enviarEmails()">Enviar correo a los seleccionados</button>
        <button type="button" class="btn btn-dark text-center"  (click)='this._location.back()'>Volver</button>
    </section>
</div>