<div class="container text-center">
    <h2>Mis donaciones</h2>

</div>
<div class="card border-secondary mb-4 container mt-5" id="contenedor">
   
    <div class="card-body">
        <div class="container">           
            <section class="alert alert-dismissible alert-dark mt-3">
                    Mis donaciones
                </section>
                <table class="table table-hover table-bordered table-center">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">id</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Asignado a (Voluntario)</th>
                            <th scope="col">Fecha de traslado</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let donacion of datosDeDonaciones| paginate: { itemsPerPage: 3, currentPage: p }" class="text-center">
                        <tr>
                            <td>{{donacion[1]}}</td>
                            <td>{{donacion[2]}}</td>
                            <td>{{donacion[3]}}</td>
                            <td>{{donacion[4] | date: 'dd/MM/yyyy hh:mm' }}</td>
                        </tr>                  
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            <div class="form-group text-center mt-5">
                <button class="btn btn-dark" (click)='this._location.back()'>Volver</button>               
            </div>
        </div>
    </div>
</div>