<!-- CRITERIOS DE BUSQUEDA DE USUARIOS -->
<div class="container text-center">
    <h2>Clasificación</h2>
</div>

<mat-tab-group>
    <mat-tab label="Voluntarios">
        <div class="card border-secondary mb-3 container mt-5 shadow" id="contenedor">
            <table class="table table-hover table-bordered table-center">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Posición</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Puntos</th>
                    </tr>
                </thead>
                <tbody *ngFor="let voluntario of voluntarios; let posicion=index" class="text-center">
                    <tr>
                        <td>{{posicion+1}}</td>
                        <td>{{voluntario.username}}</td>
                        <td>{{voluntario.puntuacion}}</td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </mat-tab>
    <mat-tab label="Donantes">
        <div class="card border-secondary mb-3 container mt-5 shadow" id="contenedor">
            <table class="table table-hover table-bordered table-center">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Posición</th>
                        <th scope="col">Razón social</th>
                        <th scope="col">Puntos</th>
                    </tr>
                </thead>
                <tbody *ngFor="let donante of donantes; let posicion=index" class="text-center">
                    <tr>
                        <td>{{posicion+1}}</td>
                        <td>{{donante.username}}</td>
                        <td>{{donante.puntuacion}}</td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </mat-tab>
</mat-tab-group>

<section class="card-header text-center p-3 mt-4 mb-4">
    <button type="button" class="btn btn-primary text-center"  (click)='this._location.back()'>Volver</button>
</section>