<div class="container text-center">
    <h2>¿Queres ayudarnos a ayudar?</h2>
    <h4>Registate como voluntario</h4>
</div>
<div class="card border-secondary mb-4 container mt-5" id="contenedor">
    <div class="alert alert-dismissible alert-dark mt-3"> Registrar voluntario </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="form" class="container">
            <div class="form-group">
                <label for="labelNombre">Nombre</label>
                <input formControlName="nombre" type="text" class="form-control" id="inputNombre"
                    placeholder="Juan Carlos">
                <div *ngIf="nombre.invalid && nombre.touched">
                    <small class="text-danger">El nombre es obligatorio</small>
                </div> 
            </div>
            <div class="form-group">
                <label for="labelNombre">Apellido</label>
                <input formControlName="apellido" type="text" class="form-control" id="inputApellido" placeholder="Perez">
                <div *ngIf="apellido.invalid && apellido.touched">
                    <small class="text-danger">El apellido es obligatorio</small>
                </div> 
            </div>
            <div class="form-group">
                <label for="labelDireccion">DNI</label>
                <input formControlName="dni" type="text" class="form-control" id="inputDNI" placeholder="18.542.201">
                <div *ngIf="dni.invalid && dni.touched">
                    <small class="text-danger">El DNI es obligatorio</small>
                </div> 
            </div>
            <div class="form-group">
                <label for="labelDireccion">Dirección</label>
                <input formControlName="direccion" type="text" class="form-control" id="inputDireccion" placeholder="Av. Siempreviva 145">
                <div *ngIf="direccion.invalid && direccion.touched">
                    <small class="text-danger">La dirección es obligatoria</small>
                </div> 
            </div>
            <div class="form-group">
                <label for="labelDireccion">Nombre de usuario</label>
                <input formControlName="username" type="text" class="form-control" id="inputUsername" placeholder="perezj">
                <div *ngIf="username.invalid && username.touched">
                    <small class="text-danger">El nombre de usuario es obligatorio</small>
                </div> 
            </div>
            <div class="form-group">
                <label for="labelDireccion">Email</label>
                <input formControlName="email" type="text" class="form-control" id="inputEmail" placeholder="perez@gmail.com">
                <div *ngIf="email.invalid && email.touched && emailIsInvalid ">
                    <small class="text-danger">Se debe ingresar un correo con el formato mi@correo.com</small>
                </div> 
                
            </div>
            <div class="form-group">
                <label for="labelCelular">Celular</label>
                <input formControlName="celular" type="text" class="form-control" id="inputCelular"
                    placeholder="221 548 9652">
                    <div *ngIf="celular.invalid && celular.touched">
                        <small class="text-danger">El celular es obligatorio</small>
                    </div>
            </div>
            <div class="form-group">
                <label for="labelContrasenia">Contraseña</label>
                <input formControlName="password1" type="password" class="form-control" id="inputClave" placeholder="">
                <div *ngIf="password1.invalid && password1.touched">
                    <small class="text-danger">La contraseña es obligatoria</small>
                </div>
            </div>
            <div class="form-group">
                <label for="labelContrasenia">Confirmar contraseña</label>
                <input formControlName="password2" type="password" class="form-control" id="inputconfirmacionClave" placeholder="">
                <div *ngIf="password2.invalid && password2.touched">
                        <small class="text-danger">La confirmación de la contraseña es obligatoria</small>
                </div>
                <div *ngIf="passwordsNotEquals">
                    <small class="text-danger">Las contraseñas ingresadas no coinciden</small>
                </div>
            </div>
            <h5>¿Tenés un vehículo?</h5>
            <div class="form-group mt-4">
                <label for="labelMarca">Marca</label>
                <input formControlName="marca" type="text" class="form-control" id="inputMarca" placeholder="Toyota">
                <div *ngIf="marca.invalid && marca.touched">
                    <small class="text-danger">La marca es obligatoria</small>
                </div>
            </div>
            <div class="form-group">
                <label for="labelModelo">Modelo</label>
                <input formControlName="modelo" type="text" class="form-control" id="inputModelo" placeholder="Etios">
              <!--
                <div *ngIf="modelo.invalid && modelo.touched">
                    <small class="text-danger">El modelo es obligatorio</small>
                </div>
                -->
            </div>
            <div class="form-group">
                <label for="labelPatente">Patente</label>
                <input formControlName="patente" type="text" class="form-control" id="inputPatente" placeholder="AA125FG">
                <!--
                <div *ngIf="patente.invalid && patente.touched">
                    <small class="text-danger">La patente es obligatoria</small>
                </div>
                -->
            </div>
            <h5>Volumen a transportar</h5>
            <div class="form-row mt-4">
                <div class="col mb-3">
                    <label for="form-group">Alto</label>
                    <div class="input-group ">
                        <input formControlName="alto" type="text" class="form-control " id="inputAlto" placeholder="65">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2">cm</span>
                        </div>
                    </div>
                    <!--
                    <div *ngIf="alto.invalid && alto.touched">
                        <small class="text-danger">El alto es obligatorio</small>
                    </div>
                     -->
                </div>
                
                <div class="col mb-3">
                    <label for="form-group">Ancho</label>
                    <div class="input-group">
                        <input formControlName="ancho" type="text" class="form-control " id="inputAncho" placeholder="124">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2">cm</span>
                        </div>
                    </div>
                    <!--
                    <div *ngIf="ancho.invalid && ancho.touched">
                        <small class="text-danger">El ancho es obligatorio</small>
                    </div>
                 -->
                </div>
                <div class="col mb-3">
                    <label for="form-group">Largo</label>
                    <div class="input-group ">
                        <input type="text" formControlName="largo" class="form-control " id="inputLargo" placeholder="32">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2">cm</span>
                        </div>
                    </div>
                    <!--
                    <div *ngIf="largo.invalid && largo.touched">
                        <small class="text-danger">El largo es obligatorio</small>
                    </div>
                     -->
                </div>
            </div>
            <div class="form-row mt-4">
                <div class="col mb-3">
                    <label for="form-group">Distancia máxima a recorrer</label>
                    <div class="input-group w-25 ">
                        <input type="text" formControlName="distancia" class="form-control " id="inputDistancia" placeholder="350">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2">km</span>
                        </div>
                    </div>
                    <!--
                    <div *ngIf="distancia.invalid && distancia.touched">
                        <small class="text-danger">La distancia es obligatoria</small>
                    </div>
                -->
                </div>
            </div>              
            <div class="form-group">
                <label for="labelObservaciones">Observaciones</label>
                <textarea class="form-control" formControlName="observaciones" id="inputObservaciones" rows="3"> </textarea>
            </div>
            <div class="form-group text-center">
                <button  class="btn btn-primary" type="submit">Guardar</button>
                <a routerLink="/home" class="btn" style="background-color: #f94116; color:white">Cancelar</a>
            </div>
        </form>
    </div>
</div>
