<div style="text-align: center">
    <div *ngIf="!userLogged" class="row text-center" style="text-align: center">
	    <div class="text-center col btn-light m-1" (click)="this.router.navigate(['/registrar-beneficiario']);">
	    	<span> Quiero </span>
	    	<h3> Recibir alimentos</h3>
	    	<p> Para mi organización social </p>
	    </div>
	    <div class="text-center col btn-light m-1" (click)="this.router.navigate(['/registrar-voluntario']);">
	    	<br>
	    	<span> Quiero </span>
	    	<h3> Ser voluntario </h3>
	    </div>
	    <div class="text-center col btn-light m-1" (click)="this.router.navigate(['/registrar-donante']);">
	    	<br>
	    	<span> Quiero </span>
	    	<h3> Donar </h3>
	    </div>
	</div>	
    <h1 class="mt-5" style="text-align: center">Banco Alimentario de La Plata</h1>
    <hr style="width:80%;">
    <h5 class="mb-5 container">Buscamos disminuir el hambre, la desnutrición y las malas prácticas alimentarias en la región, mediante el recupero de alimentos, para ser distribuidos a organizaciones comunitarias que presten servicio alimentario a sectores necesitados, desarrollando acciones conjuntas con la sociedad, basadas en nuestros valores y capacidades.
    </h5>

    <button class="btn btn-dark" (click)="this.router.navigate(['/ver-top']);" style="margin-bottom:15%">Top 10 Voluntarios | Donantes</button>
</div>
