<div class="container" style='padding-bottom: 20%'>
    <h1 class="text-center">{{username}}</h1>
    <p class="text-center" >Mi Perfil</p>
        <div class="col-md-6 pb-5">
            
            <br>
            <p>
                <strong>Dirección:</strong> {{address}}
            </p>
            <p>
                <strong>Cantidad de personas atendidas: </strong> {{cantAtendidos}}
            </p>
            <p>
                <strong>Email: </strong> {{email}}
            </p>
        </div>

        <button class="btn btn-orange" (click)="this.router.navigate(['/home']);">Volver</button>   
</div>
