<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Trochut&display=swap" rel="stylesheet"> 
<nav class="navbar navbar-light bg-light d-flex flex-row justify-content-between">
    <div class="navbar-brand d-inline-flex">
        <a  href="#">
            <img src="../../assets/icons/logo-balp.png" width="205" height="74" alt="">
        </a>
    </div>
    <div class="d-inline-flex align-bottom text-center font-weight-bold">
        <h1>
            Registrar Donación
        </h1>
    </div>
    <div>           
           <img src="../../assets/icons/user.png" width="74" height="74" alt="" class="rounded-circle"> 
    </div>
</nav>