	<!-- <h1 class="text-center">Mis Datos</h1> -->
	<h1 class="text-center mb-2">
		EDITAR BENEFICIARIO
	</h1>
	<form (ngSubmit)="onSubmit()" [formGroup]="formBeneficiario" class="container w-50 pt-3 mb-5 border-custom ">

		<div class="form-group row">
			<label for="username" class="col-sm-3 col-form-label">
				<h5>Nombre de la Organización:</h5>
			</label>
			<div class="col-sm-7">
				<input class="form-control" formControlName="beneficiario.username" value="{{beneficiario.username}}" type="text"
					name="username" />
				<div *ngIf="username.invalid && username.touched">
					<small class="text-danger">El nombre de la organización es obligatorio</small>
				</div>
			</div>
			<!-- 
			<div *ngIf="direccion.invalid && direccion.touched ">
				<small class="text-danger">Debe ingresar el nombre de la organización</small>
			</div>
			-->
		</div>

		<div class="form-group row">
			<label for="address" class="col-sm-2 col-form-label">
				<h5>Dirección:</h5>
			</label>
			<div class="col-sm-10">
				<input class="form-control" formControlName="direccion" value="{{direccion}}" type="text" name="direccion" />
				<div *ngIf="direccionForm.invalid && direccionForm.touched ">
					<small class="text-danger">El campo dirección es obligatorio</small>
				</div>
			</div>
			<!-- 
			<div *ngIf="direccion.invalid && direccion.touched ">
				<small class="text-danger">Debe ingresar la dirección de la organización</small>
			</div>
			-->
		</div>

		<div class="form-group row">
			<label for="cantAtendidos" class="col-sm-4 col-form-label">
				<h5>Cantidad de personas atendidas:</h5>
			</label>
			<div class="col-sm-3">
				<input class="form-control float-left text-center" formControlName="cantidadAtendidos"
					value="{{beneficiario.cantidadAtendidos}}" type="text" name="cantidadAtendidos" />
				<div *ngIf="cantidadAtendidos.invalid && cantidadAtendidos.touched">
					<small class="text-danger">El campo cantidad de personas que atiende es obligatorio</small>
				</div>
			</div>
			<!-- 
			<div *ngIf="direccion.invalid && direccion.touched ">
				<small class="text-danger">Debe ingresar la cantidad de atendidos</small>
			</div>
			-->
		</div>


		<div class="form-group row">
			<label for="email" class="col-sm-2 col-form-label">
				<h5>Email:</h5>
			</label>
			<div class="col-sm-10">
				<input class="form-control" formControlName="email" value="{{beneficiario.email}}" type="email" name="email" />
				<div *ngIf="emailIsInvalid">
					<small class="text-danger">El correo ingresado no es válildo</small>
				</div>
				<div *ngIf="email.invalid && email.touched">
					<small class="text-danger">El campo correo es obligatorio</small>
				</div>
			</div>
			<div *ngIf="direccion.invalid && direccion.touched ">
				<small class="text-danger">Debe ingresar el nombre de la organización</small>
			</div>
		</div>


	</form>

	<div class="form-group text-center d-flex justify-content-center">
		<button class="btn btn-orange mr-4" (click)="this.router.navigate(['/home']);">Volver</button>
		<button title="No es posible realizar la modificación" [disabled]="!formBeneficiario.valid"
			class="btn btn-primary ml-4" type="submit">Guardar</button>
	</div>