<div class="container text-center">
    <h2>Iniciar sesión</h2>
    <h4></h4>
</div>
<div class="card border-secondary mb-4 container mt-5 w-25" id="contenedor">
    <div class="card-header">Ingresá tus credenciales</div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="logInForm" class="container">
            <div class="form-group">
                <label for="labelNombre">Nombre de usuario</label>
                <input formControlName="usuario" type="text" class="form-control" id="inputNombre"
                    placeholder="jcarlosperez">
            </div>
            <div class="form-group">
                <label for="labelContrasenia">Contraseña</label>
                <input formControlName="clave" type="password" class="form-control" id="inputClave" placeholder="">
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit">Iniciar sesión</button>
                <a routerLink="/home" class="btn btn-link">Cancelar</a>
            </div>
        </form>
    </div>
</div>