<app-nuevo-envio-seleccionar-donante (enviarIdBeneficiario)="onEnviarIdBeneficiario($event)"></app-nuevo-envio-seleccionar-donante>
<p style="color:red">El select devolvió esto: {{idBeneficiario}}</p>

<p style="color:red">Se seleccionó el tipo de envio: {{tipo}}</p>
<mat-tab-group (selectedTabChange)="toggleTipo()">
  <mat-tab label="A partir de donación..">
    <app-nuevo-envio-seleccionar-donacion (enviarIdDonacion)="onEnviarIdDonacion($event)"></app-nuevo-envio-seleccionar-donacion>
    <p style="color:red">El selector de donaciones devolvió esto: {{idDonacion}}</p>
  </mat-tab>
  <mat-tab (click)="setTipo('a partir de stock')" label="A partir de stock..">
    <p> a partir de stock </p>
  </mat-tab>
</mat-tab-group>

<app-nuevo-envio-items (enviarItems)="onEnviarItems($event)"></app-nuevo-envio-items>

<app-nuevo-envio-volumen (enviarVolumen)="onEnviarVolumen($event)"></app-nuevo-envio-volumen>
<p style="color:red"> El padre recibió: {{volumen.alto}} de alto, {{volumen.ancho}} de ancho, {{volumen.largo}} de largo. {{peso}}kg. A trasladarse el día {{fecha | date: 'dd/MM/yyyy'}}</p>

<br>
<br>
<br>